[Desktop Entry]
Type=Application
Name=Brewdoro
Comment=Minimal Pomodoro timer
Comment[ru]=Минималистичный Pomodoro-таймер
Comment[zh_CN]=简洁的番茄工作法计时器
Exec=brewdoro
Icon=ru.brewdoro.timer
Terminal=false
Categories=Utility;GTK;
Keywords=Pomodoro;Timer;Focus;
Keywords[ru]=Pomodoro;Таймер;Фокус;
Keywords[zh_CN]=番茄工作法;计时器;专注;
StartupNotify=true
DBusActivatable=false
